---
Language: Cpp  # Applies to both C and C++

# Indentation
IndentWidth: 4

# Column limit
ColumnLimit: 80

# New lines for curly braces
BreakBeforeBraces: Allman

# Pointer Alignment
PointerAlignment: Right

# Namespace Indentation (primarily for C++)
NamespaceIndentation: None

# Return Type on the same line as function name
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 255

UseTab: Never

AllowShortBlocksOnASingleLine: true
